body {
 background-color: black;
}
li,a,button {
    text-decoration: none;
    display: flex;
    align-items: end;
}
.titlu {
    display: flex;
    align-items: end;
}
section{
    display: flex;
    width:360px;
    height:300px;
    background-image: url("../logo.jpg");
    background-size: 370px 420px;
    background-position: cover;
}
.main { 
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
}
button {
    display: flex;
    align-self: center;
    padding:9px 10px;
    background-color: #37C6FF;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    color: #3498db;
}
button:hover{
    background-color: blue;
    color:black;
}
.cta {
    display: flex;
    align-items: end;
}
img {
    display: flex;
    align-content: auto;
    justify-content: auto;
    top:0;
    margin-left:25px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    color:#3498db;
    display: flex;
    align-self: center;
   /* position:absolute; */
    top:100px;
    right:35%;
}
h3 {
    color:lightblue;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding-top:200px;
}
.altparagraf {
    font-size: 12px;
    text-align:center;
    padding-top:10px;
    color:lightblue;
}
.more{ 
    font-family: Arial, Helvetica, sans-serif;
    padding-left:300px;
    text-decoration: underline wavy rgb(82, 75, 154);
}
.more:hover {
    color:pink;
    text-decoration: underline wavy pink;
}
a {
    margin-left:20px;
    color:blue;
    text-align: center;
}
a:hover{
    color:#37C6FF;
}
nav {
    display: flex;
    /*position: absolute; */
}
.nav-links{
    list-style: none;
}
.nav-links li {
    display: inline-block;
    display: flex;
    justify-items: space-be;
}
.header {
    grid-area: header;
    background-image: url("../img4.jpg");
    background-size: 1400px 700px;
    display:flex;
    padding-bottom: 400px;
}
.header-right{
    display: flex;
    align-items: end;
}
p { 
    text-align:center;
    padding-top:10px;
    color:rgb(68, 50, 159);
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align:center;
    padding-top: 100px;
    color:rgb(41, 21, 143);
}
.aside1 {
    grid-area: aside1;
    width:710px;
    height:400px;
    background-color: rgb(12, 10, 64);
}
.aside2 {
    display: flex;
    grid-area: aside2;
    width:710px;
    height:400px;
    background-color: #3498db;
    background-image: url("../img5.jpg");
    background-size: 750px 500px;

}
.aside3 {
    grid-area: aside3;
    width:710px;
    height:400px;
    background-color: cornflowerblue;
    background-image: url("../img7.jpg");
    background-size: 700px 400px;
}
.aside4 {
    grid-area: aside4;
    width:710px;
    height:400px;
    background-color: #196DD0;
}
.aside-info {
    grid-area: aside-info;
    display:grid;
    grid-template-areas: 
    'aside1 aside1 aside1 aside2 aside2 aside2'
    'aside1 aside1 aside1 aside2 aside2 aside2'
    'aside3 aside3 aside3 aside4 aside4 aside4'
    'aside3 aside3 aside3 aside4 aside4 aside4';
    border:1px solid darkslategrey;
}
.main1 {
    grid-area:main1;
    background-image:url("../img10.jpg");
    background-position: cover;
    background-size: 720px 400px;
    width:710px;
    height:400px;
   
}
.main2 {
    grid-area:main2;
    background-image: url("../img11.jpg");
    background-position: cover;
    background-size: 720px 500px;
    width:710px;
    height:400px;
}
.main-info {
    grid-area: main-info;
    display:grid;
    grid-template-areas: 
    'main1 main1 main1 main2 main2 main2'
    'main1 main1 main1 main2 main2 main2'
    'main1 main1 main1 main2 main2 main2'
    'main1 main1 main1 main2 main2 main2';
}

.right-info {
    grid-area: right-info;
   
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'aside-info aside-info aside-info aside-info aside-info aside-info'
    'main-info main-info main-info main-info main-info main-info'
    'right-info right-info right-info right-info right-info right-info'
    'footer footer footer footer footer footer';
    background-color: rgb(16, 45, 45);
    margin:auto;
    border:1px solid darkslategrey;
    border-radius: 10px;
}

.grid-container div {
    gap:0px;
    font-size: 15px;
    border-radius: 10px;
    line-height:15px;
}