body {
    width: 100vw;
    height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-repeat: repeat;
    background-size: 250px 250px;
}

h1 {
    font-size: 4.47vh;
}

p { 
    font-size: 2.24vh;
}

button {
    height: 100%;
    width: 223px;

    max-width: 100%;
    max-height: 100%;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    border-radius: 5px;
}

.uidiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scorenumber {
    font-size: 6.1vh;
    margin-top: 0;
}

.buttondiv {
    width: 293px;
    height: 223px;

    max-width: 60%;
    max-height: 30%;

    align-self: center;

    writing-mode: vertical-lr;
    text-orientation: upright;

    display: flex;
    flex-direction: column;

    background-color: #ffbda8;

    border: 1px solid black;
    border-radius: 5px;
}

.buttondiv:hover {
    border-width: 2px;
    background-color: #ffaa71;
}

.choicedisplay {
    width: 50%;
    max-height: 100%;

    margin-top: -26px;
}

.scoredisplay {
    width: 50%;
}

.buttonimage {
    min-width: 50px;
    min-height: 50px;
}

.choiceimage {
    height: 0;
    width: 45%;
    padding-top: 45%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../homework/question-mark.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border: 1px solid black;
    border-radius: 5px;
}

.scorefont {
    font-weight: bold;
    font-size: 3.2vh;

    margin-bottom: 10px;
}

.choicefont {
    letter-spacing: 0.1em;

    margin: 0 auto 0 auto;

    font-weight: bold;
    font-size: 2.8vh;
}

#gameinfo {
    width: 50vw;
    height: 80vh;

    background-color: #FFF887;
    
    border: 5px solid black;
    border-radius: 20px;
}

#buttons {
    position: relative;

    width: 30vw;
    height: 80vh;

    justify-content: space-evenly;

    margin-right: 3vw;

    background-color: #FFF887;
    background-size: 20px 20px;

    border: 5px solid black;
    border-radius: 20px;
}

#roundnumber {
    font-weight: bold;
    margin-bottom: 0;
}

#roundresults {
    font-style: italic;
}

#infodisplay {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#scoredisplaydiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 0;
}

#choicedisplaydiv {
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#rock {
    background-image: url("../homework/rock.jpg");
}

#paper {
    background-image: url("../homework/paper.jpg");
}

#scissors {
    background-image: url("../homework/scissors.jpg");
}

#ruleslink {
    text-align: end;
    margin-right: 2%;
    margin-bottom: -3%;

    position: absolute;
    right: 0;
    bottom: 30px;
}